* {
    box-sizing: border-box;
    background-color: lightcyan;
    text-align: center;
}

img {
    width: 10%;
    border-radius: 100%;
    margin-top:50px;
}

#imgCargando {
    width: 2%;
    visibility: hidden;
    
}